md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 75vw !important;
  max-width: 250px !important;
  background-color: $primary-color;

  .site__side-nav--container,
  .site__side-nav--content {
    background-color: $primary-color;

    h1 {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $light-grey;

      :visited {
        color: $light-grey;
      }
      &.md-button {
        width: 100%;
        margin: 0;
        padding: 0 2em;
        text-align: left;
      }
    }
    
    h2 {
      padding-left: .85em;
      color: $light-grey;
    }
  }

  .site__side-nav--content {
    padding-left: 1em;
  }
  
  md-autocomplete {
    margin-right: 1em;

    span {
      margin-right: 1em;
    }
  }
}